<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 5</key>
	<string>Thumb rings have a slightly outlandish feel to people who come from conventional North American culture, but they’re actually reasonably common world-wide. In most societies a thumb ring on a man is a sign of wealth or influence, and they tend to be broad or bulky to reflect that (also to fit comfortably on the thumb, of course).
A thumb ring is also often the natural choice for men who want to wear multiple rings on the same hand, since it’s at least somewhat distanced from the others. A wedding band plus a pinky or middle finger ring can get quite crowded, both visually and physically, whereas a thumb ring gives everything some space.
Thumb gestures are associated with interaction and friendship (think “thumbs up”). Wear a ring that you want people to like — big and chunky is fine, but nothing incredibly gaudy or expensive-looking. It’s already going to be bigger than most rings, so if the design is extravagant as well it just becomes this massive anchor dragging your hand down. Keep it bold but simple.
The thumb doesn’t have an astrological association, but in classic mythology (and pre-scientific medicine) it was believed to be an indicator of character: strong, straight thumbs meant an authoritative personality, while crooked ones were seen as a sign of wickedness or dishonesty.</string>
	<key>New item - 4</key>
	<string>There’s a natural instinct to keep the pointer finger clear, since we use it more than any other digit (except the thumb), but it turns out that a ring on the finger doesn’t interfere with it as much as one on the finger next to it.
If you go back hundreds of years the index finger was the most common location for a man’s ring (generally a signet or a crest — in some parts of Europe, people below a certain rank were actually forbidden from wearing rings, because they denoted specific family status).
That makes the index finger a good place for things like class rings, fraternal rings, or family and membership crests, although many men (especially younger, unmarried men) opt for the ring finger out of habit instead.
Anything that you want to be used frequently and emphatically in your gestures can go on the index finger. It’s not as dramatically isolated as something on the outer digits (thumb and pinky), but its prominence in our basic manual dexterity makes it noticeable.
The astrological association for the pointer finger is Jupiter, which symbolizes power, leadership, and authority. The metal association is tin, which you won’t find many rings made out of, but bright silver tones are a normal choice for the index finger.</string>
	<key>New item - 3</key>
	<string>Apart from the obvious hand gesture, the middle finger is your largest, boldest finger.
Rings worn on the middle finger are surprisingly uncommon — in part, that’s because it’s adjacent to the index finger, and anything bulky can be quite a hindrance to fine manual tasks. It’s best to keep things small and simple if you’re wearing them on your middle finger.
That said, a lot of first-time ring-wearers might feel more comfortable with the middle finger, purely because if feels so central, sturdy, and frankly, “manly.” If the idea of a pinky ring weirds you out, and you don’t want any confusion with wedding/engagement symbolism, the middle finger’s a safe default.
Because of its central location, the middle finger is held to symbolize balance and responsibility, and is associated with Saturn. Since Saturn’s metal is lead, simple gray metals like steel are common middle finger choices.
</string>
	<key>New item - 2</key>
	<string>In the US and much of North &amp; South America, the ring finger is most commonly associated with wedding symbolism: a band on the right fourth finger indicates engagement, while a band on the left fourth finger indicates marriage.
That said, nearly all men opt for a simple gold or silver band for their wedding/engagement rings. A large ring with a jewel or a three-dimensional design on it is far less likely to be taken for something related to your marital status.
That’s not to say that people don’t wear some very strange and artistic things as wedding bands, from time to time, but it’s not the cultural norm. A distinctively decorative ring on the fourth finger probably won’t be assumed to be a wedding or engagement ring, while a plain metal band or one with minor, same-tone etchings or designs probably will be.
Symbolically, the ring finger is associated with Earth’s moon, creativity, and beauty, as well as its obvious associations with romantic relationships. The moon’s metal is silver, making silver rings a natural choice for non-wedding-related rings worn on the fourth finger.
</string>
	<key>New item</key>
	<string>This is often the first choice for a man who wants to wear a “statement” ring.
Pinky rings have a couple of advantages: they don’t have religious or cultural associations in most cultures (unlike the ring finger), and, like rings on the fourth finger, they don’t touch or interfere with the index/pointer finger at all.
It also isolates the ring from your body a bit, making it more of an eye-popping statement. As a result, pinky rings tend to be among the “busiest” or flashiest of designs. It’s where you wear things when you want attention paid to them.
People who like astrological or palmistry-related symbolism will associate the littler finger with intelligence and persuasion. It represents Mercury, which was (for obvious reasons) associated with the element of mercury, so you’re not going to have a ring made of the relevant metal here — mercury is liquid at room temperature, and highly toxic to humans.
</string>
</dict>
</plist>
